.div-login {
  display: flex;
  justify-content: center;
}

.form-login {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  box-shadow: 0 0 10px #0e0e0ea9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 200px;
  padding: 70px 100px 90px;
}

.form-login label {
  display: grid;
  font-size: 20px;
  margin-bottom: 20px;
}

.form-login input {
  font-size: 20px;
  padding: 7px;
}

.form-login button {
  background-color: #002fff;
  border: 1px solid #004d99;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
}

.form-login button:hover {
  background-color: #09f;
  border: 1px solid #09c;
  color: white;
  cursor: pointer;
  padding: 5px 10px;
}

.form-login button:disabled {
  background-color: #ccc;
  border: 1px solid #999;
  border-radius: 3px;
  color: #666;
}
